h1{
    color: #093640;
    text-align: center;
}

/* filter section */

.disappear {
    display: none;
}

.filter {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 5%;
}

#color,
#sort {
    width: 150px;
    font-size: 0.9em;
    border-radius: 8px;
    margin-left: 25px;
    color: #093640;
}

/* Product grid */

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 300px;
    gap: 12%;
    padding-bottom: 2%;
}

.jacket img {
    width: 12em;
    height: 12em;
    border-radius: 10px;
}

/* JACKETS */

.product-grid, 
.about-product {
    height: 550px;
    width: 50%;
    float: left;
}

/* product grid */

.product-grid {
    display: flex;
    justify-content: center;
}

.small {
    height: 400px;
    width: 100px;
    margin-right: 10px;
}

.tiny,
.tiny img {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.small img:hover {
    opacity: 50;
}

.large, 
.large img {
    height: 400px;
    width: 300px;
    border-radius: 10px;
}

/* about product */

.product-text {
    height: 250px;
    width: 65%;
}

.form {
    height: 300px;
    width: 40%;
}

.form label {
    display: inline-block;
}

#size, 
#sized {
    height: 25px;
    width: 200px;
    display: flex;
    margin: 10px 0px;
    text-align: left;
}


/* Media queries */

@media (max-width: 1000px) {
    .small {
        display: none;
    }

    .form {
        margin-top: 5%;
    }
}

@media (max-width:850px) {
    .product-grid, 
    .about-product {
      height: 450px;
      width: 100%;
      float: left;
    }

    .about-product {
       margin-left: 15%;
    }
}

@media (max-width: 600px) {
    .filter {
        text-align: center;
        padding-bottom: 20px;
        margin-bottom: 5%;
    }

}