body {
    font-family: 'Helvetica Neue', sans-serif;
}

/* Navigation bar - web */

header {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    justify-content: space-between;
}

.logo {
    width: 150px;
    height: 90px;
    margin: 20px auto;
    padding-left: 50px;
}

nav li {
    display: inline-block;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #093640;
}

nav .active {
    text-decoration: underline;
}

nav a:hover {
    font-weight: bold;
}

.main-menu li{
    padding: 30px;
}

.icon-menu {
    justify-content: right;
    padding-right: 50px;
}

nav .icon {
    height: 30px;
    width: 30px;
    padding:10px;
}

/* Hamburger nav */

.hamburger img {
    height: 30px;
    width: 30px;
    padding: 40px;
}

label, 
#hamburger {
    display: none;
}


/* welcome page */

.welcome {
    background-color: lightgrey;
    min-height: 500px;
}

/* Media queries */

@media (max-width:1200px) {
    .header {
        display: flex;
        justify-content: center;
    }

    .hamburger,
    label   {
        display: flex;
        grid-column: 3;
        order: -1;
        }
    
    .main-menu {
        width: 100%;
        display: none;
        margin-top: 100px;
        background-color: #fff;
    }

    #hamburger:checked + .main-menu {
        display: flex;
        float: left;
        position: fixed;
    }
    
    nav a:hover {
        font-weight: bold;
    }

    .logo {
        display: flex;
        width: 150px;
        height: 90px;
        margin: 20px auto;
    }
}