body {
    font-family: 'Helvetica Neue', arial, sans-serif;
}

/* Navigation bar - web */

header {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    justify-content: space-between;
}

.logo {
    width: 150px;
    height: 90px;
    margin: 20px auto;
    padding-left: 50px;
}

nav li {
    display: inline-block;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #093640;
}

nav .active {
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.main-menu li{
    padding: 30px;
}

.icon-menu {
    justify-content: right;
    padding-right: 50px;
}

nav .icon {
    height: 30px;
    width: 30px;
    padding:10px;
}

/* Hamburger nav */

.hamburger img {
    height: 30px;
    width: 30px;
    padding: 40px;
}

label, 
#hamburger {
    display: none;
}

/* welcome page */

.welcome {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: url("../images/welcome-background.jpg");
    background-size: cover;
    background-color: #818181;
    min-height: 700px;
    background-repeat: no-repeat;
    color: #093640;
}

.welcome-images {
    position: relative;
}

.welcome-images__styling {
    background-image: url("../images/welcome-image_styling.jpg");
    height: 15%;
    width: 40%;
    margin-top: 50%;
    left: 30%;
    border-radius: 30px;
    position: absolute;
}

.welcome-images__product {
    height: 60%;
    width: 40%;
    left: 45%;
    top: 20%;
    border-radius: 30px;
    position: absolute;
    z-index: 10;
}

.welcome-images__product img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.welcome-content {
    height: 50%;
    width: 60%;
    margin-top: 40%;
}

.welcome-content h1 {
    font-size: 1.5em;
}

.welcome-content p {
    font-size: 1.2em;
    margin-top: 5%;
}

.welcome-content .cta {
    background-color: #C64700;
    color: #fff;
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 10px;
    margin-top: 700px;
}

/*  New in section  */

.new-in {
    display: flex;
    max-width: 100%;
    margin: 50px auto;
    padding-left: 5%;
}

.header {
    color: #093640;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.new-in .products {
    width: 25%;
    flex-direction: column;
}

.products img {
    border-radius: 20px;
    height: 70%;
    width: 80%;
}

/* footer */

footer {
    text-align: center;
    background-color: #77543F;
    padding: 20px;
    width: 100%;
}

/* Media queries */

@media (max-width:1200px) {
    /* responsive nav */ 
    .header {
        display: flex;
        justify-content: center;
    }

    .hamburger,
    label   {
        display: flex;
        grid-column: 3;
        order: -1;
        }
    
    .main-menu {
        width: 250px;
        display: none;
        margin-top: 100px;
        z-index: 100;
    }

    #hamburger:checked + .main-menu {
        display: flex;
        float: left;
        position: fixed;
        background-color: #fff;
    }
    
    nav a:hover {
        font-weight: bold;
    }

    .logo {
        display: flex;
        width: 150px;
        height: 90px;
        margin: 20px auto;
    }
    /* responsive new-in */
}

@media (max-width:1300px) {
    
    .welcome-images__styling {
       display: none;
    }
    
    .welcome-images__product {
        height: 70%;
        width: 50%;
        left: 25%;
        top: 15%;
        border-radius: 30px;
        position: absolute;
        z-index: 10;
    }
    
    .welcome-content {
        height: 60%;
        width: 70%;
        margin-top: 40%;
    }
    
    .welcome-content p {
        font-size: 1.2em;
        margin-top: 10%;
    }
}

/* tablet styles */
@media (max-width:1100px) {
    .welcome-images__styling {
        display: none;
     }
     
     .welcome-images__product {
         height: 80%;
         width: 70%;
         left: 20%;
         top: 10%;
         border-radius: 20px;
         position: absolute;
     }
     
     .welcome-content {
         height: 60%;
         width: 70%;
         margin-top: 40%;
     }
     
     .welcome-content p {
         font-size: 1.0em;
         margin-top: 10%;
     }
}